/* Responsive Media Query Goes Here */

/* For Mobile Template */
@media (max-width: 480px) {
}

/* For Tablet Template */
@media (min-width: 481px) and (max-width: 767px) {
}

/* For Laptop Template */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* For Large Screen Template */
@media (min-width: 1024px) and (max-width: 1440px) {
}
