@media (max-width: 960px) {
  .showcase::after {
    box-shadow: inset 80px 80px 250px #000, inset -80px -80px 250px #000;
  }
  .showcase {
    height: 70vh;
  }
  .hide-sm {
    display: none;
  }
  .showcase_top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }
  .showcase_content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }
  .showcase_content p {
    font-size: 1.5rem;
  }
  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn_xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-lg {
    font-size: 1.3rem;
  }
  .text-md {
    font-size: 1rem;
  }
}
@media (max-width: 700px) {
  .showcase::after {
    box-shadow: inset 50px 50px 250px #000, inset -50px -50px 250px #000;
  }
  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }
  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }
}
